/* -------------------------------------------
    DEFAULT STYLES
------------------------------------------- */

body {
    font: 17px/1.25 "Raleway", Arial, Sans-serif;
    color: $color_dlx_dark;
}

h1,
h2,
h3 {
    font-family: Montserrat, "Arial Black", Sans-serif;
}

img {
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    background: $color_dlx_white;
}
