//-----------------------------------//
//  COLORS
//-----------------------------------//

/* CHYNO DELUXE PALLET */

$color_dlx_white: #eeeeee;
$color_dlx_light: #656d83;
$color_dlx_dark: #222930;
$color_dlx_accent: #e64b4b;
$color_dlx_acc_hover: #DB3D3D;

/* DEFAULT COLORS */

$color_base_white: #fff;
$color_base_lightGrey: #ddd;
$color_base_green: #23CE6B;
