//FONTS
@import 'https://fonts.googleapis.com/css?family=Montserrat|Raleway';
//UTILS
@import './utils/#';
//BASE
@import './base/#';
body {
    background: url(../images/bg1.jpg);
}

#app-container {
    * {
        @extend %brdBx;
    }
    button {
        cursor: pointer
    }
    ul,
    li {
        @extend %reset;
        list-style: none;
    }
    button {
        font-weight: 600;
        font-family: Montserrat, "Arial Black", san-serif;
        text-transform: uppercase;
        &:active,
        &:focus {
            outline: none;
        }
    }
    header nav,
    #input-section,
    #list-container {
        max-width: 95%;
        margin: auto;
    }
    header {
        background: $color_dlx_dark;
        background-image: url(../images/header-bg.png);
        color: $color_base_white;
        overflow: hidden;
        text-align: center;
        h1 {
            text-align: center;
            margin: 3.25% 0;
        }
        nav {
            button {
                @include hoverHighlight($color_dlx_light);
                background: $color_dlx_light;
                border: 2px solid $color_base_white;
                border: none;
                border-radius: 2px 3px 0 0;
                color: $color_base_white;
                margin: auto;
                padding: 7px 0;
                width: 45.5%;
                &.active {
                    background: $color_dlx_accent;
                    color: $color_base_white;
                }
            }
        }
    }
    #list-container {
        background: $color_base_white;
        overflow: hidden;
        padding: 0 20px;
        box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);
    }
    #input-section {
        background: $color_base_white;
        border-bottom: none;
        text-align: center;
        input[type="text"],
        button {
            border: 1px solid $color_base_lightGrey;
            border-radius: 2px;
            padding: 6px 10px;
        }
        button {
            @include hoverHighlight($color_base_green);
            background: $color_base_green;
            border-color: transparent;
            color: $color_base_white;
        }
        form {
            padding: 20px 0;
            input[type="text"] {
                width: 70%;
            }
        }
    }
    #todo-container,
    #completed-container {
        display: none;
        &.visible {
            display: block;
        }
        input[type="checkbox"] {
            display: none;
            position: absolute;
            &:checked {
                + label {
                    color: $color_base_lightGrey;
                    text-decoration: line-through;
                    span {
                        display: inline-block;
                    }
                }
            }
        }
        li {
            border-top: 1px solid $color_base_lightGrey;
            position: relative;
            z-index: 0;
            .complete,
            .remove {
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                display: none;
                height: 20px;
                position: absolute;
                width: 20px;
                vertical-align: bottom;
                z-index: 99;
                top: 11px;
            }
            .complete {
                background-image: url(../images/checkmark.png);
                left: 0;
            }
            .remove {
                background-image: url(../images/remove.png);
                right: 0;
            }
            &:hover {
                .complete,
                .remove {
                    display: inline-block;
                }
            }
        }
        label {
            cursor: pointer;
            display: block;
            padding: 10px 0 10px 30px;
            margin-right: 30px;
        }
    }
}

@include screenSize($tablet) {
    #app-container {
        header nav,
        #input-section,
        #list-container {
            max-width: 640px;
        }
    }
}

@media screen and (max-width: $mobile) {
    #app-container {
        header nav,
        #input-section,
        #list-container {
            max-width: 100%;
        }
        header {
            h1 {
                font-size: 25px;
                margin: 5% 0;
            }
            nav {
                button {
                    width: 45.5%;
                    font-size: 14px;
                }
            }
        }
        #input-section {
            form {
                button,
                input[type='text'] {
                    display: block;
                    width: 100%;
                    margin: auto;
                }
                input[type='text'] {
                    margin-bottom: 10px;
                }
                button {
                    font-size: 14px;
                }
            }
        }
        #todo-container,
        #completed-container {
            li {
                .remove,
                .complete {
                    display: block;
                    opacity: .5;
                    &:active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
